.projects {
  width: 100%;
  overflow: hidden;
}

.projects__slider {
  padding-top: 15px;
  padding-bottom: 10px;
  overflow-x: scroll;
  display: flex;
  width: 100%;
}

.projects__slider > .projects__card + .projects__card {
  margin-left: 20px;
}

.projects__card {
  background-color: var(--secondary-color);
  border-radius: 18px;
  height: 215px;
  /* margin-right: 20px; */
  position: relative;
  display: flex;
  flex: 0 0 200px;
}

.projects__card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 20px; */
  opacity: 1;
  visibility: visible;
  transition: opacity .5s ease-in-out;

}

.projects__card-body--checked {
  opacity: 0;
  visibility: hidden;
  /* transition: none; */
}

.projects__card-picture {
  /* padding: 20px; */
  /* border-radius: 18px; */
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  width: 200px;
  height: 170px;
}

.projects__card-footer {
  display: flex;
  justify-content: space-between;
  /* padding-right: 20px;
  padding-left: 20px; */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;

}

.projects__card-link {
  /* display: inline; */
  /* line-height: 30px; */

  /* display: flex; */
}

.projects__card-link a {
  height: 20px;
  align-self: flex-end;
}

.projects__card-link img {
  visibility: hidden;
  height: 19px;
}

.projects__card-link:hover img {
  visibility: visible;
}

.projects__card-link:hover a {
  color: var(--grey-font-color);
  cursor: pointer;
}

.icon {
  cursor: pointer;
  background-color: black;
  border-radius: 50%;
  fill: white;
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
  transition: transform .5s cubic-bezier(0.66,0,0.2,1);
}

.icon:hover {
  background-color: rgba(0,0,0,.8);
}

.icon--checked {
  transform: rotate(45deg);
  transition: transform .5s ease-in-out;
}

.tile-icon-alt {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* .card-picture {
  height: 50%;
  width: 200px;
} */

.projects__card-description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  border-radius: 18px;
  /* z-index: 2; */
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.projects__card-description--checked {
  visibility: visible;
  opacity: 1;
}
