.projects {
  width: 100%;
  overflow: hidden;
}

.projects__slider {
  padding-bottom: 10px;
  overflow-x: scroll;
  display: flex;
  width: 100%;
}

.projects__slider > div + div {
  margin-left: 40px;
}
