.projects__card-description {
  background-color: var(--secondary-color);
  overflow-y: scroll;
  font-size: 15px;
  height: 100%;
  width: 100%;
}

.projects__card-description p:first-child {
  margin-top: 0;
}
