.bookshelf__table-wrapper {
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 12px;
}

.bookshelf__table {
  width: 100%;
}

.bookshelf__table th {
  font-size: small;
  padding-bottom: 10px;
  text-align: left;
  color: var(--grey-font-color);
}

.bookshelf__table tbody tr + tr > td {
  padding-top: 40px;
}

.bookshelf__table td {
  vertical-align: top;
}

.bookshelf__table td div {
  font-size: small;
}

.bookshelf__table td h4 {
  font-family: var(--header-bold);
}

.bookshelf__genre-header {
  width: 100px;
}

.bookshelf__status-header {
  text-align: center;
}

@media (max-width: 375px) {
  .bookshelf__genre-header {
    display: none;
  }
}

.bookshelf__show-more-button {
  border: 1px solid var(--body-font-color);
  background-color: var(--secondary-color);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px auto;
  -webkit-tap-highlight-color: transparent;
  display: block;
}

.bookshelf__show-more-button:hover {
  cursor: pointer;
}
