.skill-category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  margin-top: 20px;
}

.skill-category div {
  padding-left: 8px;
}

@media (max-width: 631px) {
  .skill-category {
    width: 100%;
  }
}

.skill-category .skill {
  margin-top: 20px;
}

.skill-category .skill + .skill {
 margin-top: 40px;
}
