.author {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: left;
  align-items: center;
  padding: var(--side-padding) 15px;
}

.author__picture {
  height: 140px;
  width: 140px;
  margin: 10px 15px;
  border-radius: 9999px;
  z-index: 1;
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px;
}

.author__icon {
  margin-top: 5px;
  height: 30px;
  fill: var(--body-font-color);
  cursor: pointer;
}

.author__icon path {
  fill: var(--body-font-color);
}

.author__icon:hover {
  background-color: var(--secondary-color);
  opacity: 0.7;
}

.author__icon-wrapper + .author__icon-wrapper {
  margin-left: 10px;
}

.author__description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 15px;
}

.author__description h1 {
  margin: 0;
}

.author__name {
  color: var(--body-font-color);
}

.author__description-text {
  padding-top: 10px;
}

@media (max-width: 551px) {
  .author {
    text-align: center;
    justify-content: center;
  }
}
