.post-list {
  list-style: none;
  padding-left: 0;
  width: 100%;
  margin-top: 80px;
}

.post-list__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.post-list__item {
  margin-bottom: 25px;
}

.post-list__header .link--regular-font::before {
  top: 20px;
}

.post-list h1 {
  font-size: 1em;
  margin: 0;
  margin-right: 40px;
  width: 50vw;
}
