@import './typography.css';

body {
  --body-bold: sf-pro-text-bold;
  --body-regular: avenir-next;
  --header-regular: sf-pro-text-medium;
  --header-bold: sf-pro-text-bold;
  --side-padding: 16px;
  --tab-height: 42px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-regular), 'Roboto', 'Franklin Gothic Medium',
    Tahoma, sans-serif;
  color: var(--header-font-color);
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
}

p,
div {
  font-family: var(--body-regular), 'Open Sans', 'Segoe UI', Tahoma,
    sans-serif;
  color: var(--body-font-color);
  line-height: 25px;
}

html {
  background-color: var(--primary-color);
}

/* css for underline taken from https://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */
.link--regular-font {
  position: relative;
  color: var(--header-font-color);
  text-decoration: none;
  height: fit-content;
  padding: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.link--regular-font:hover {
  color: var(--header-font-color);
}

.link--regular-font::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 0.5px;
  top: 24.5px;
  left: 0;
  background-color: var(--header-font-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link--bottom::before {
  top: unset;
  bottom: 0;
}

.link--regular-font:hover::before {
  transform: scaleX(1);
  cursor: pointer;
}

a:-webkit-any-link {
  text-decoration: none;
  color: var(--body-font-color);
  cursor: pointer;
}

h4 {
  margin-bottom: 10px;
}

.bold {
  font-family: var(--body-bold);
}

b {
  font-family: var(--body-bold);
}

button {
  background-color: var(--primary-color);
  border: none;
}
