@import "./typography.css";

/* $primary-color: #FDF5E6; */
/* $secondary-color: #FAE6C2;
$tertiary-color: #808080;
$primary-font-color: #000000;

$header-regular: sf-pro-text-medium;
$header-bold: sf-pro-text-bold;
$body-regular: avenir-next;
$body-bold: avenir-next-bold; */

body {
  --primary-font-color: black;
  --primary-color: #FDF5E6;
  --secondary-color: #FAE6C2;
  --tertiary-color: #808080;
  --body-bold: sf-pro-text-bold;
  --body-regular: avenir-next;
  --header-regular: sf-pro-text-medium;
  --header-body: sf-pro-text-bold;
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-regular), "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
}

p,
div {
  font-family: var(--body-regular), "Open Sans", "Segoe UI", Tahoma, sans-serif;
}

/* css for underline taken from https://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */
.link--regular-font {
  position: relative;
  color: var(--primary-font-color);
  text-decoration: none;
  height: fit-content;
  padding: 0;
  cursor: pointer;
}

.link--regular-font:hover {
  color: #000;
}

.link--regular-font::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.5px;
  top: 24.5px;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link--regular-font:hover::before {
  transform: scaleX(1);
  cursor: pointer;
}