.theme-toggle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
}

.theme-toggle:hover {
  cursor: pointer;
}

.theme-toggle__theme-icon {
  width: 19px;
  display: block;
  height: 19px;
  fill: var(--body-font-color);
}

.theme-toggle__theme-icon  svg {
  width: 19px;
  height: 19px;
}
