.projects__card {
  background-color: var(--secondary-color);
  border-radius: 18px;
  height: 350px;
  position: relative;
  display: flex;
  flex: 0 0 258px;
  padding: 15px;
}

.projects__content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.projects__description-wrapper {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  height: 100%;
  width: 100%;
}

.projects__description-wrapper--checked {
  visibility: visible;
  opacity: 1;
}

.projects__overview-wrapper {
  opacity: 1;
  position: absolute;
  visibility: visible;
  transition: opacity .5s ease-in-out;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.projects__overview-wrapper--checked {
  opacity: 0;
  visibility: hidden;
  transition: none;
}

.projects__icon-wrapper {
  position: absolute;
  transition: none;
  transform: none;
  bottom: 5px;
  right: 0;
  z-index: 4;
}

.projects__icon-wrapper--dark .icon {
  fill: var(--body-font-color);
}

.project-overview__links-list {
  padding-left: 20px;
}
