.projects__card {
  background-color: var(--secondary-color);
  border-radius: 18px;
  height: 215px;
  position: relative;
  display: flex;
  flex: 0 0 200px;
}

.projects__card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
  position: absolute;
  visibility: visible;
  transition: opacity .5s ease-in-out;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.projects__card-body--checked {
  opacity: 0;
  visibility: hidden;
  transition: none;
}

.projects__card-description {
  background-color: var(--secondary-color);
  border-radius: 18px;
  height: 140px;
  padding: 15px;
  width: 170px;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  overflow-y: scroll;
  font-size: 15px;
}

.projects__card-description--checked {
  visibility: visible;
  opacity: 1;
}

.projects__card-picture {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  width: 100%;
  height: 170px;
}

.projects__card-link {
  width: fit-content;
  margin-left: 10px;
  margin-bottom: 4px;
}

.projects__card-link .fa-link {
  visibility: hidden;
  height: 14px;
  width: 14px;
  padding-left: 5px;
}

.projects__card-link:hover .fa-link {
  visibility: visible;
  fill: var(--grey-font-color);
}

.projects__card-link:hover a {
  color: var(--grey-font-color);
}

.projects__card-link:hover {
  cursor: pointer;
}

.projects__body-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.projects__icon-wrapper {
  position: absolute;
  transition: none;
  transform: none;
  bottom: 0;
  right: 0;
  top: 183px;
  margin-bottom: 10px;
  margin-right: 10px;
  z-index: 4;
}

.projects__icon-wrapper--dark .icon {
  fill: var(--body-font-color);
}
