.about__description-short,
.about__description-long {
  margin-top: 0;
  display: none;
}

.about__description-short p,
.about__description-long p {
  margin-top: 0;
}

.selected {
  display: block;
}

.about__header {
  display: flex;
  width: 100%;
}

.about__header h4 {
  margin-bottom: 10px;
}
