.skill {
  transition: all ease-in 0.3s;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid transparent;
}
.skill:hover {
    box-shadow: -2px 2px 0 0 var(--body-font-color);
    transform: translate(2px, -2px);
    border-radius: 8px;
    border: 1px solid var(--body-font-color);
    /* transform: translate(8px, -8px); */
}

.technology-skills {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}

.technology-skills__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid var(--body-font-color);
}

.technology-skills__technologies {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.technology-skills__play,
.technology-skills__comfortable {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 550px) {
  .technology-skills__play,
  .technology-skills__comfortable {
    width: 100%;
  }

  .technology-skills__play {
    padding-top: 80px;
  }
}

.background-bar {
  background-color: var(--secondary-color);
  width: 100%;
  height: 15px;
  border-radius: 50px;
  position: relative;
}

.background-percentage {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  border-radius: 50px;
  background-color: var(--body-font-color);
  z-index: 999;
}

.text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.percentage {
  margin-right: 2px;
}

.technology-skills__comfortable .skill {
  margin-top: 20px;
}

.technology-skills__comfortable .skill + .skill {
 margin-top: 40px;
}

.technology-skills__play .skill {
  margin-top: 20px;
}

.technology-skills__play .skill + .skill {
 margin-top: 40px;
}
