.header {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  background-color: var(--primary-color);
  color: var(--header-font-color);
}

.header__content {
  max-width: 768px;
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  padding: 0 var(--side-padding) 0 var(--side-padding);
}

.header__blogmoon {
  display: flex;
  vertical-align: middle;
  line-height: 40px;
}

.header__blogmoon > * {
  margin-left: 20px;
  padding-left: 6px;
}

.header__content .link--regular-font::before,
.header__blogmoon .link--regular-font::before {
  top: 28px;
}
